.chartView {
    width: 100%;
    height: 100%;
}

.chartMenuButton {
    padding: 5px 20px;
    margin: 0px 10px;
}

.chartSection {
    width: 50%;
    height: 100%;
}

.chartjs-render-monitor {
    width: 100% !important;
    height: 90% !important;
}

.chartTitle {
    margin-top: 5px;
}